
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "task_list"
  }) }}
{% endblock %}

{% block content %}

<form method="post" action="/checks_status_answer">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Were you able to complete all of your key control checks?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      Select one option.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="checks_status" name="checks_status" type="radio" value="yes" {{checked("checks_status", "yes")}}>
        <label class="govuk-label govuk-radios__label" for="checks_status-1">
          Yes
        </label></div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="checks_status" name="checks_status" type="radio" value="no" {{checked("checks_status", "no")}}>
        <label class="govuk-label govuk-radios__label" for="checks_status-2">
          No
        </label> </div>
    </div>
  </fieldset>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
 <aside class="app-related-items" role="complementary">
           <nav role="navigation" aria-labelledby="subsection-title">
             <ul class="govuk-list govuk-!-font-size-16">
               <li>
                 <span class="govuk-caption-m">Q3 2019</span>
               </li>
               <li>
                 <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
               </li>
             </ul>
           </nav>
         </aside>
       </div>
     </div>

     <div class="block-space">
       <button class="govuk-button" type="submit">
         Save and continue
       </button>
     </form>



{% endblock %}
