{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "task_list"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <form method="post" action="/dm_report_submitted">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Check your report before submitting to your manager
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
      Manchester - Crown Square
      <span class="govuk-heading-m govuk-!-font-weight-regular">Q2 2019</span>
    </h2>


    <nav id="nav" style="position:sticky; top:0px">
      <div class="navbar">
        <ul class="navbar__list-items">
          <li class="active">
            <a href="#responsibilities">Responsibilities</a>
          </li>
          <li>
            <a href="#issues">Reported issues</a>
          </li>
          <li>
            <a href="#checks">Status of checks</a>
          </li>
          <li>
            <a href="#declaration">Declaration</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"></div>
    </div>

    <a name="responsibilities"></a>
    <h2 class="govuk-heading-l" style="padding-top: 80px;
    margin-top: -80px;">
      Activities you are responsible for
    </h2>

    <!-- <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">SOC activities you told us you are responsible for</h2>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div> -->


    <table class="govuk-table">
      <tr class="govuk-table__row">
        <!-- <caption class="govuk-table__caption">Activities you told us you are responsible for checking</caption> -->
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Activity</th>
          <td class="govuk-table__cell govuk-body" scope="col"><div align="right">
            <a class="govuk-link" href=soc_responsibilities>Change<span class="govuk-visually-hidden"> change SOC activities</span></a></div></td>
        <!-- <td class="govuk-table__cell govuk-body" scope="row"><div align="right">
          <a class="govuk-link" href=#>Change<span class="govuk-visually-hidden"> change SOC activities</span></a></div>
        </td> -->
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Anti Money Laundering</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Business Continuity Plan</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Court Funds Office</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Effectively Managing Fraud</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Interpreters ON contract</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Interpreters OFF contract</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Management of keys</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">TFM Contracts</th>
          <td class="govuk-table__cell govuk-body" scope="row"></td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>


  <table class="govuk-table" style="margin-bottom: 15px;">

    <a name="issues"></a>
    <h2 class="govuk-heading-l"  style="padding-top: 80px;
    margin-top: -80px;">Reported issues</h2>

    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption">Issues reported</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="vertical-align:top">Activity</th>
          <th class="govuk-table__header" scope="col" style="vertical-align:top">Issue summary</th>
          <th class="govuk-table__header" scope="col" style="vertical-align:top">Cause</th>
          <th class="govuk-table__header" scope="col" style="vertical-align:top">Cause detail</th>
          <th class="govuk-table__header" scope="col" style="vertical-align:top">Action</th>
          <th class="govuk-table__header" scope="col" style="vertical-align:top">Concern level</th>
          <th class="govuk-table__header" scope="col" style="vertical-align:top"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="https://intranet.justice.gov.uk/about-hmcts/finance-and-governance/soc-standard-operating-controls-self-assessment/key-control-check-sheets/" target="_blank">
            Court Funds Office
            <span class="govuk-visually-hidden"> activity</span></td>
          <td class="govuk-table__cell">KC3 not being met</td>
          <td class="govuk-table__cell">Capacity</td>
          <td class="govuk-table__cell">Backlog of outstanding work</td>
          <td class="govuk-table__cell">Prioritise this work to clear backlog</td>
          <td class="govuk-table__cell">
          Very concerned</td>
            <td class="govuk-table__cell"><a class="govuk-link" href=report_issue_detail_content>
              Change
              <span class="govuk-visually-hidden"> court code</span>
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="https://intranet.justice.gov.uk/about-hmcts/finance-and-governance/soc-standard-operating-controls-self-assessment/key-control-check-sheets/" target="_blank">
            Business Continuity Plan
            <span class="govuk-visually-hidden"> activity</span></td>
          <td class="govuk-table__cell">KC4 not completed</td>
          <td class="govuk-table__cell">Knowledge and capability</td>
          <td class="govuk-table__cell">No walkthrough has been undertaken</td>
          <td class="govuk-table__cell">Set up session to walkthrough with staff</td>
          <td class="govuk-table__cell">Slightly concerned</td>
          <td class="govuk-table__cell"><a class="govuk-link" href=report_issue_detail_content>
            Change
            <span class="govuk-visually-hidden"> court code</span>
          </a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="https://intranet.justice.gov.uk/about-hmcts/finance-and-governance/soc-standard-operating-controls-self-assessment/key-control-check-sheets/" target="_blank">
            Interpreters ON Contract
            <span class="govuk-visually-hidden"> activity</span></td>
          <td class="govuk-table__cell">KC1 - interpreter was not booked on a private law case. Picked up the day before the hearing</td>
          <td class="govuk-table__cell">Knowledge and capability</td>
          <td class="govuk-table__cell">Human error</td>
          <td class="govuk-table__cell">Assignment of booking interpreter task to be confirmed each week</td>
          <td class="govuk-table__cell">Not concerned</td>
          <td class="govuk-table__cell"><a class="govuk-link" href=report_issue_detail_content>
            Change
            <span class="govuk-visually-hidden"> court code</span>
          </a></td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>



  <a name="checks"></a>
  <h2 class="govuk-heading-l"  style="padding-top: 80px;
  margin-top: -80px;">
    Status of key control checks
  </h2>

  <table class="govuk-table">
    <tr class="govuk-table__row">
      <!-- <caption class="govuk-table__caption">Activities you told us you are responsible for checking</caption> -->
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Activity</th>
        <th class="govuk-table__header" scope="col">Checks status</th>
        <th class="govuk-table__header" scope="col">Reason checks not completed</th>
        <td class="govuk-table__cell govuk-body" scope="row"><a class="govuk-link" href=checks_status>
          Change
          <span class="govuk-visually-hidden"> court code</span>
        </a></td>
      <!-- <td class="govuk-table__cell govuk-body" scope="row"><div align="right">
        <a class="govuk-link" href=#>Change<span class="govuk-visually-hidden"> change SOC activities</span></a></div>
      </td> -->
      </tr>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Anti Money Laundering</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Business Continuity Plan</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Court Funds Office</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Effectively Managing Fraud</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Interpreters ON contract</th>
        <td class="govuk-table__cell govuk-body" scope="row">Not complete</td>
        <td class="govuk-table__cell govuk-body" scope="row">No activity this quarter</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Interpreters OFF contract</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Management of keys</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">TFM Contracts</th>
        <td class="govuk-table__cell govuk-body" scope="row">Complete</td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
        <td class="govuk-table__cell govuk-body" scope="row"></td>
      </tr>
    </tbody>
  </table>

  <div class="govuk-!-padding-bottom-6"></div>


  <a name="declaration"></a>
  <h2 class="govuk-heading-l" style="padding-top: 80px;
  margin-top: -80px;">
    Declaration
  </h2>

        <p class="govuk-body">By submitting this SOC report, I confirm that I understand my role and responsibility within the HMCTS Risk and Assurance Framework and I am aware of the <a href="https://intranet.justice.gov.uk/documents/2015/04/fraud-policy.pdf" target="_blank">Anti Fraud and Corruption Policy</a>, and that I:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>identify, assess and manage risks/issues within my remit</li>
          <li>escalate risks/issues outside my remit to the Operations Manager/Deputy Clerk (Legal)</li>
          </ul>
      <div class="govuk-!-padding-bottom-6"></div>
    </div>

    <button class="govuk-button" type="submit" formaction="dm_report_submitted">
      Submit SOC to your manager
    </button>
  <!-- <div class="govuk-grid-column-two-thirds" style="border:1px solid black"></div> -->
</div>
<!-- <div class="govuk-grid-column-one-third">
 <aside class="app-related-items" role="complementary" style="position:sticky; top:0px">
           <nav role="navigation" aria-labelledby="subsection-title">
             <ul class="govuk-list govuk-!-font-size-16">
               <li>
                 <span class="govuk-caption-m">Q3 2019</span>
               </li>
               <li>
                 <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
               </li>
             </ul>
           </nav>
         </aside>
       </div> -->
     </div>
</div>

{% endblock %}
