
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "task_list"
  }) }}
{% endblock %}

{% block content %}

<form method="post" action="/task_list">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="responsibility-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Have you completed all key control checks for your activities?
      </h1>
    </legend>
    <span id="responsibility-conditional-hint" class="govuk-hint">
      Select one option.
    </span>
    <div class="govuk-radios govuk-radios--inline--conditional" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="responsibility-conditional-1" name="responsibility" type="radio" value="yes" data-aria-controls="conditional-responsibility-conditional-1">
        <label class="govuk-label govuk-radios__label" for="responsibility-conditional-1">
          Yes
        </label> </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="responsibility-conditional-2" name="responsibility" type="radio" value="no" data-aria-controls="conditional-responsibility-conditional-2">
        <label class="govuk-label govuk-radios__label" for="responsibility-conditional-2">
          No
        </label> </div>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-responsibility-conditional-2">
          <div class="govuk-form-group">
            <p><strong>Select the activities below where you have not completed any control checks this quarter</strong></p>
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="responsibility-conditional-hint">
              <span id="responsibility-conditional-hint" class="govuk-hint">
                Select all options that are relevant to you.
              </span>

              <div class="multiple-choice--hod govuk-checkboxes" data-module="checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="responsibility-conditional-2" name="activity" type="checkbox" value="mag court resulting" data-aria-controls="conditional-responsibility-conditional-2">
                  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-2">
                    Appeal against grant of bail
                  </label> </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-2">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          Why were key control checks not completed against this activity?
                        </h1>
                      </legend>
                      <span id="responsibility-conditional-hint" class="govuk-hint">
                        Select one option.
                      </span>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                            Capacity
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                            Knowledge and capability
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                            No activity this quarter
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                            Key control checks not in place - new activity this quarter
                          </label> </div>
                      </div>
                    </fieldset>
                  </div>

                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="responsibility-conditional-3" name="activity" type="checkbox" value="custody time limits" data-aria-controls="conditional-responsibility-conditional-3">
                  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-3">
                    Application to vary bail
                  </label> </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-3">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          Why were key control checks not completed against this activity?
                        </h1>
                      </legend>
                      <span id="responsibility-conditional-hint" class="govuk-hint">
                        Select one option.
                      </span>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-5" name="why-not-checked" type="radio" value="capacity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-5">
                            Capacity
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-6" name="why-not-checked" type="radio" value="knowledge">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-6">
                            Knowledge and capability
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-7" name="why-not-checked" type="radio" value="no activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-7">
                            No activity this quarter
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-8" name="why-not-checked" type="radio" value="new activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-8">
                            Key control checks not in place - new activity this quarter
                          </label> </div>
                      </div>
                    </fieldset>
                  </div>

                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="responsibility-conditional-4" name="activity" type="checkbox" value="docs to pecs" data-aria-controls="conditional-responsibility-conditional-4">
                  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-4">
                    Bail application to the Crown Court
                  </label> </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-4">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          Why were key control checks not completed against this activity?
                        </h1>
                      </legend>
                      <span id="responsibility-conditional-hint" class="govuk-hint">
                        Select one option.
                      </span>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-9">
                            Capacity
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-10">
                            Knowledge and capability
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-11">
                            No activity this quarter
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-12">
                            Key control checks not in place - new activity this quarter
                          </label> </div>
                      </div>
                    </fieldset>
                  </div>
                </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="responsibility-conditional-5" name="activity" type="checkbox" value="info security" data-aria-controls="conditional-responsibility-conditional-5">
                    <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-5">
                      Custody time limits
                    </label> </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-5">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          <h1 class="govuk-fieldset__heading">
                            Why were key control checks not completed against this activity?
                          </h1>
                        </legend>
                        <span id="responsibility-conditional-hint" class="govuk-hint">
                          Select one option.
                        </span>
                        <div class="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                            <label class="govuk-label govuk-radios__label" for="why-not-checked-13">
                              Capacity
                            </label> </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                            <label class="govuk-label govuk-radios__label" for="why-not-checked-14">
                              Knowledge and capability
                            </label> </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                            <label class="govuk-label govuk-radios__label" for="why-not-checked-15">
                              No activity this quarter
                            </label> </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                            <label class="govuk-label govuk-radios__label" for="why-not-checked-16">
                              Key control checks not in place - new activity this quarter
                            </label> </div>
                        </div>
                      </fieldset>
                    </div>

                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="responsibility-conditional-6" name="activity" type="checkbox" value="anti money laundering" data-aria-controls="conditional-responsibility-conditional-6">
                  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                    Disposals (Crown Court)
                  </label> </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-6">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          Why were key control checks not completed against this activity?
                        </h1>
                      </legend>
                      <span id="responsibility-conditional-hint" class="govuk-hint">
                        Select one option.
                      </span>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                            Capacity
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                            Knowledge and capability
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                            No activity this quarter
                          </label> </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                            Key control checks not in place - new activity this quarter
                          </label> </div>
                      </div>
                    </fieldset>
                  </div>

              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-conditional-7" name="activity" type="checkbox" value="bus continuity" data-aria-controls="conditional-responsibility-conditional-7">
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-7">
                  Documents to PECS
                </label> </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-7">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Why were key control checks not completed against this activity?
                      </h1>
                    </legend>
                    <span id="responsibility-conditional-hint" class="govuk-hint">
                      Select one option.
                    </span>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                        <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                          Capacity
                        </label> </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                        <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                          Knowledge and capability
                        </label> </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                        <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                          No activity this quarter
                        </label> </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                        <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                          Key control checks not in place - new activity this quarter
                        </label> </div>
                    </div>
                  </fieldset>
                </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="responsibility-conditional-8" name="activity" type="checkbox" value="managing fraud" data-aria-controls="conditional-responsibility-conditional-8">
              <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-8">
                Prisoner Escort and Custody Services (PECS) Contract KCCS
              </label> </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-8">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                      Why were key control checks not completed against this activity?
                    </h1>
                  </legend>
                  <span id="responsibility-conditional-hint" class="govuk-hint">
                    Select one option.
                  </span>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                      <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                        Capacity
                      </label> </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                      <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                        Knowledge and capability
                      </label> </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                      <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                        No activity this quarter
                      </label> </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                      <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                        Key control checks not in place - new activity this quarter
                      </label> </div>
                  </div>
                </fieldset>
              </div>

          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="responsibility-conditional-9" name="activity" type="checkbox" value="stationary" data-aria-controls="conditional-responsibility-conditional-9">
            <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-9">
              Post opening
            </label> </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-9">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Why were key control checks not completed against this activity?
                  </h1>
                </legend>
                <span id="responsibility-conditional-hint" class="govuk-hint">
                  Select one option.
                </span>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                    <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                      Capacity
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                    <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                      Knowledge and capability
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                    <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                      No activity this quarter
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                    <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                      Key control checks not in place - new activity this quarter
                    </label> </div>
                </div>
              </fieldset>
            </div>

        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="responsibility-conditional-10" name="activity" type="checkbox" value="tfm" data-aria-controls="conditional-responsibility-conditional-10">
          <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-10">
            Information Security
          </label> </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-10">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Why were key control checks not completed against this activity?
                </h1>
              </legend>
              <span id="responsibility-conditional-hint" class="govuk-hint">
                Select one option.
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                  <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                    Capacity
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                  <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                    Knowledge and capability
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                  <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                    No activity this quarter
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                  <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                    Key control checks not in place - new activity this quarter
                  </label> </div>
              </div>
            </fieldset>
          </div>

      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="responsibility-conditional-11" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-11">
        <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-11">
          AML
        </label> </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-11">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Why were key control checks not completed against this activity?
              </h1>
            </legend>
            <span id="responsibility-conditional-hint" class="govuk-hint">
              Select one option.
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
                <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                  Capacity
                </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
                <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                  Knowledge and capability
                </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
                <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                  No activity this quarter
                </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
                <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                  Key control checks not in place - new activity this quarter
                </label> </div>
            </div>
          </fieldset>
        </div>

    </div>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="responsibility-conditional-12" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-12">
      <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-12">
        Business Continuity Plan
      </label> </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-12">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Why were key control checks not completed against this activity?
            </h1>
          </legend>
          <span id="responsibility-conditional-hint" class="govuk-hint">
            Select one option.
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                Capacity
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                Knowledge and capability
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                No activity this quarter
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                Key control checks not in place - new activity this quarter
              </label> </div>
          </div>
        </fieldset>
      </div>

  </div>

  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="responsibility-conditional-13" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-13">
    <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-13">
      Preparation daily backlog
    </label> </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-13">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Why were key control checks not completed against this activity?
          </h1>
        </legend>
        <span id="responsibility-conditional-hint" class="govuk-hint">
          Select one option.
        </span>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
            <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
              Capacity
            </label> </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
            <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
              Knowledge and capability
            </label> </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
            <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
              No activity this quarter
            </label> </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
            <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
              Key control checks not in place - new activity this quarter
            </label> </div>
        </div>
      </fieldset>
    </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-14" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-14">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-14">
    Fraud management
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-14">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-15" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-15">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-15">
    Financial Stationary
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-15">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-16" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-16">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-16">
    Agency staff
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-16">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-17" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-17">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-17">
    Interpreters ON contract
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-17">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-18" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-18">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-18">
    Interpreters OFF contract
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-18">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-19" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-19">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-19">
    Suspense and suspense deficiency
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-19">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-20" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-20">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-20">
    Payment requests via GBS
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-20">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="responsibility-conditional-21" name="activity" type="checkbox" value="mag case process" data-aria-controls="conditional-responsibility-conditional-21">
  <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-21">
    TFM contracts
  </label> </div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-21">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Why were key control checks not completed against this activity?
        </h1>
      </legend>
      <span id="responsibility-conditional-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
            Capacity
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
            Knowledge and capability
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
            No activity this quarter
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
          <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
            Key control checks not in place - new activity this quarter
          </label> </div>
      </div>
    </fieldset>
  </div>

</div>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="responsibility-conditional-22" name="activity" type="checkbox" value="keys" data-aria-controls="conditional-responsibility-conditional-22">
      <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-22">
        Management of keys
      </label> </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-conditional-22">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Why were key control checks not completed against this activity?
            </h1>
          </legend>
          <span id="responsibility-conditional-hint" class="govuk-hint">
            Select one option.
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-1" name="why-not-checked" type="radio" value="capacity">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-1">
                Capacity
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-2" name="why-not-checked" type="radio" value="knowledge">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-2">
                Knowledge and capability
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-3" name="why-not-checked" type="radio" value="no activity">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-3">
                No activity this quarter
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="why-not-checked-4" name="why-not-checked" type="radio" value="new activity">
              <label class="govuk-label govuk-radios__label" for="why-not-checked-4">
                Key control checks not in place - new activity this quarter
              </label> </div>
          </div>
        </fieldset>
      </div>

          </div>
              </div>
            </fieldset>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
 <aside class="app-related-items" role="complementary">
           <nav role="navigation" aria-labelledby="subsection-title">
             <ul class="govuk-list govuk-!-font-size-16">
               <li>
                 <span class="govuk-caption-m">Q3 2019</span>
               </li>
               <li>
                 <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
               </li>
             </ul>
           </nav>
         </aside>
       </div>
     </div>

     <div class="block-space">
       <button class="govuk-button" type="submit">
         Save and continue
       </button>
     </form>



{% endblock %}
