
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers before submitting the SOC to your Delivery Managers for action
      </h1>

      <h2 class="govuk-heading-m">Operational area details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Operational Manager email address
            </dt>
            <dd class="govuk-summary-list__value">
              firstname.lastname@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> operational manager email</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court code
            </dt>
            <dd class="govuk-summary-list__value">
              DUMMY COURT CODE
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> court code</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Delivery Manager details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery Manager email address
              </dt>
              <dd class="govuk-summary-list__value">
                firstname.lastname@example.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change
                  <span class="govuk-visually-hidden"> first delivery manager email</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Areas of SOC responsibility
              </dt>
              <dd class="govuk-summary-list__value">
                Crown Court, Family
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change
                  <span class="govuk-visually-hidden"> court code</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery Manager email address
              </dt>
              <dd class="govuk-summary-list__value">
                firstname.lastname@example.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change
                  <span class="govuk-visually-hidden"> second delivery manager email</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Areas of SOC responsibility
              </dt>
              <dd class="govuk-summary-list__value">
                Magistrates Court, Magistrates Court (Legal), Civil
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change
                  <span class="govuk-visually-hidden"> court code</span>
                </a>
              </dd>
            </div>
          </dl>


  <a class="govuk-button" href="confirmation_submitted" role="button">
    Confirm and submit
  </a>


</div>

{% endblock %}
