
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "confirm_details"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="padding-top: 0px">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  SOC set up complete
                </h1>
                <div class="govuk-panel__body">
                  The SOC for your operational area has been sent to your Delivery Managers/ Legal Team Managers for completion.
                </div>
              </div>

              <div class="govuk-!-padding-bottom-4"></div>

              <h2 class="govuk-heading-m">What happens next</h2>
              <p class="govuk-body">
                We’ve sent your Delivery Managers/ Legal Team Managers an email to notify them that the SOC is set up and waiting for their action.
              </p>
            </div>
          </div>
        </main>
      </div>


  <a class="govuk-button hmcts-button--secondary" href="om_dashboard_updated" role="button" style="padding-bottom: 10px;" 15px>
    Return to your dashboard
  </a>

  <!-- <button class="govuk-button hmcts-button--secondary" type="submit" formaction="om_dashboard_updated" href="om_dashboard_updated" tabindex="0" style="padding-bottom: 10px;margin-left: 15px" 15px>
    Return to your dashboard
  </button> -->


</div>


{% endblock %}
