
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "task_list"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Report issues</h1>
    <p>Use this page to tell us about issues you have identified. If you have not identified any issues, select 'Return to task list'.</p>
    </br>
    <p>You can view and change the issues you have reported in this quarter using the table below.</p>

    <a role="button" href="/issues_select_activities" class="govuk-button govuk-button--warning">
      Report an issue
    </a>

    <div class="govuk-!-padding-bottom-5"></div>

  </div>

<div class="govuk-grid-column-one-third">
<aside class="app-related-items" role="complementary">
   <nav role="navigation" aria-labelledby="subsection-title">
     <ul class="govuk-list govuk-!-font-size-16">
       <li>
         <span class="govuk-caption-m">Q3 2019</span>
       </li>
       <li>
         <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
       </li>
     </ul>
   </nav>
 </aside>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m">Your reported issues</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Activity</th>
          <th class="govuk-table__header" scope="col">Issue summary</th>
          <th class="govuk-table__header" scope="col">Escalation</th>
          <th class="govuk-table__header" scope="col">Reporting status</th>
          <th class="govuk-table__header" scope="col">Action</th>
        </tr>
      </thead>

    </table>

    <div class="govuk-!-padding-bottom-5"></div>

    <div class="block-space">
      <a class="govuk-button govuk-button--secondary" href="task_list" role="button">
        Return to task list
      </a>
      </div>

</div>
</div>

{% endblock %}
