
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}


{% block pageScripts %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        SOC Entry tool prototype library
      </h1>

      <h3 class="govuk-heading-m">Scenario #1: Operational manager with one court and two Delivery managers</h3>
      <p class="govuk-body">On the search page, search for 'Manchester - Crown Square.'</p>
      <a href="admin_legal" class="govuk-link">Go to prototype for scenario #1</a>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-m">Scenario #2: Operational manager with one court and two Delivery managers</h3>
      <p class="govuk-body">On the search page, search for '418: Croydon Crown.'</p>
      <a href="/test_scenario_2/admin_legal_w_codes" class="govuk-link">Go to prototype for scenario #2</a>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-m">Scenario #3: Operational manager dashboard. They have two courts, each with two Delivery managers</h3>
      <p class="govuk-body">On the search page, search for 'Manchester - Crown Square.' and 'Manchester - Magistrates Court'</p>
      <a href="om_dashboard" class="govuk-link">Go to prototype for scenario #3</a>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-m">Scenario #4: Delivery manager filling in SOC report.</h3>
      <p class="govuk-body">Use the task list to fill in the different sections. The confirm and submit flow is not designed yet.</p>
      <a href="task_list" class="govuk-link">Go to prototype for scenario #4</a>

    </div>


  </div>


{% endblock %}
