
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "task_list"
  }) }}
{% endblock %}

{% block content %}

<form method="post" action="/issues_list_w_updates">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">ISSUE: <a href="https://intranet.justice.gov.uk/documents/2017/08/documents-to-pecs-kccs.doc" target="_blank">Documents to PECS</a></span>
    <h1 class="govuk-heading-l">Report an issue</h1>

    <div class="govuk-form-group">
    <h2 class="govuk-heading-m">Summarise the issue</h2>
  <span id="issue-summary-hint" class="govuk-hint">
    Include the key controls affected and the frequency of the issue.
  </span>
  <textarea class="govuk-textarea" id="issue-summary" name="issue-summary" rows="5" aria-describedby="issue-summary-hint">{{ data["issue-summary"] }}</textarea>
</div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="cause-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h2 class="govuk-fieldset__heading">
    Select the cause of the issue
  </h2>
</legend>
<span id="cause-hint" class="govuk-hint">
  Select all that apply.
</span>
<div class="govuk-checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="cause-1" name="cause" type="checkbox" value="knowledge" aria-describedby="cause-1-item-hint" {{ checked( "cause", "knowledge" ) }}>
    <label class="govuk-label govuk-checkboxes__label" for="cause-1">
      Knowledge and capability
    </label>
    <span id="cause-1-hint" class="govuk-hint govuk-checkboxes__hint">
        e.g. training, human error, and lack of understanding.
      </span>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="cause-2" name="cause" type="checkbox" value="capacity" {{ checked( "cause", "capacity" ) }}>
    <label class="govuk-label govuk-checkboxes__label" for="cause-2">
      Capacity
    </label>
    <span id="cause-2-hint" class="govuk-hint govuk-checkboxes__hint">
        e.g. staffing issues and movement of staff.
      </span></div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="cause-3" name="cause" type="checkbox" value="gdpr" {{ checked( "cause", "gdpr" ) }}>
    <label class="govuk-label govuk-checkboxes__label" for="cause-3">
      Facilities
    </label>
    <span id="cause-2-hint" class="govuk-hint govuk-checkboxes__hint">
        e.g. lack of storage space and record retention practices. Do not use for Business Continuity.
      </span></div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="cause-4" name="cause" type="checkbox" value="it issues" {{ checked( "cause", "it issues" ) }}>
      <label class="govuk-label govuk-checkboxes__label" for="cause-4">
        IT issues
      </label>
      <span id="cause-2-hint" class="govuk-hint govuk-checkboxes__hint">
          e.g. IT system downtime and failed technology.
        </span> </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="cause-5" name="cause" type="checkbox" value="key controls" {{ checked( "cause", "key controls" ) }}>
        <label class="govuk-label govuk-checkboxes__label" for="cause-5">
          Key controls
        </label>
        <span id="cause-2-hint" class="govuk-hint govuk-checkboxes__hint">
            e.g. key controls no longer being applicable or reflecting local working practices.
          </span> </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="cause-5" name="cause" type="checkbox" value="key controls" {{ checked( "cause", "key controls" ) }}>
            <label class="govuk-label govuk-checkboxes__label" for="cause-6">
              Other
            </label>
            <span id="cause-2-hint" class="govuk-hint govuk-checkboxes__hint">
                provide details in the free text box below.
              </span> </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="cause-6" name="cause" type="checkbox" value="other" {{ checked( "cause", "other" ) }}>
</div>
</fieldset>

<div class="govuk-form-group">
  <h2 class="govuk-heading-m">Give details about what caused the issue</h2>
  <span id="cause-summary-hint" class="govuk-hint">
  Include details on what caused checks to fail.
  </span>
  <textarea class="govuk-textarea" id="cause-summary" name="cause-summary" rows="5" aria-describedby="cause-summary-hint" >{{ data['cause-summary'] }}</textarea>
</div>

<div class="govuk-form-group">
  <h2 class="govuk-heading-m">Actions that are being taken to address the cause of the issue</h2>
  <span id="issue-summary-hint" class="govuk-hint">
  Summarise all of the actions that are being taken.
  </span>
  <textarea class="govuk-textarea" id="action" name="action" rows="5" aria-describedby="issue-summary-hint">{{ data['action'] }}</textarea>
</div>

<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="significant-risk-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        Do you want your manager to look into this?
      </h3>
    </legend>
    <span id="significant-risk-hint" class="govuk-hint">
      If you select 'yes' this issue will be flagged for the attention of the Operational Manager/ Deputy Justice Clerk for your operational area.
    </span>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="manager-help-1" name="significant-risk" type="radio" value="yes" {{checked("significant-risk", "yes")}}>
        <label class="govuk-label govuk-radios__label" for="significant-risk-1">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="manager-help-2" name="significant-risk" type="radio" value="no" {{checked("significant-risk", "no")}}>
        <label class="govuk-label govuk-radios__label" for="significant-risk-2">
          No
        </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="manager-help-3" name="significant-risk" type="radio" value="not sure" {{checked("significant-risk", "not sure")}}>
          <label class="govuk-label govuk-radios__label" for="significant-risk-2">
            Not sure
          </label> </div>
    </div>
  </fieldset>
</div> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="significant-risk-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        How concerned do you feel about this issue?
      </h3>
    </legend>
    <span id="significant-risk-hint" class="govuk-hint">
      This will help your manager understand the significance of the issue.
    </span>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="concern-1" name="concern" type="radio" value="1 - very concerned" {{checked("concern", "1 - very concerned")}}>
        <label class="govuk-label govuk-radios__label" for="concern-1">
          Very concerned
        </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="concern-2" name="concern" type="radio" value="2 - slightly concerned" {{checked("concern", "2 - slightly concerned")}}>
          <label class="govuk-label govuk-radios__label" for="concern-1">
            Slightly concerned
          </label> </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="concern-3" name="concern" type="radio" value="3 - not very concerned" {{checked("concern", "2 - slightly concerned")}}>
            <label class="govuk-label govuk-radios__label" for="concern-3">
              Not concerned
            </label> </div>
    </div>
  </fieldset>
</div>

</div>

<div class="block-space">
  <button class="govuk-button" href="issues_list_w_updates" type="submit">
    Submit
  </button>

  <button class="govuk-button hmcts-button--secondary" type="submit" formaction="issues_list_w_updates" tabindex="0" style="padding-bottom: 10px;margin-left: 15px" 15px>
    Save as draft
  </button>

    </div>
  </div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
 <aside class="app-related-items" role="complementary">
           <nav role="navigation" aria-labelledby="subsection-title">
             <ul class="govuk-list govuk-!-font-size-16">
               <li>
                 <span class="govuk-caption-m">Q3 2019</span>
               </li>
               <li>
                 <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
               </li>
             </ul>
           </nav>
         </aside>
       </div>
     </div>
</form>


{% endblock %}
