
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery.hideseek.min.js"></script>
<script>
$('#search_select').hideseek({
    highlight: true,
    min_chars: 3,
    nodata: "No results found.",
    hidden_mode: true
});
</script>
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}


{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Which court are you responsible for?</h1>
        <p class="govuk-body">Once you've told us about one court, you can tell us about other courts in your operational area. </p>
      </div>
    </div>
<hr class="govuk-section-break govuk-section-break--m govuk-!-width-two-thirds govuk-section-break--visible">
<!--
<div class="govuk-!-padding-bottom-6"></div> -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
        <h2 class="govuk-heading-m">You have selected 2 courts</h2>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><h3 class="govuk-body proceeding-item"><strong>Manchester - Crown Square</strong></h3>
            <li class="govuk-caption-m proceeding__list-item">North West</li>
            <li class="govuk-caption-m proceeding__list-item"> > Greater Manchester Crime</li></th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="search">
                  Remove <span class="govuk-visually-hidden">blank</span>
                </a></td>
            </tr>
          </tbody>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell govuk-body" scope="row"><h3 class="govuk-body proceeding-item"><strong>Manchester - Magistrates Court</strong></h3>
              <li class="govuk-caption-m proceeding__list-item">North West</li>
              <li class="govuk-caption-m proceeding__list-item"> > Manchester Magistrates - central</li></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="search">
                    Remove <span class="govuk-visually-hidden">blank</span>
                  </a></td>
              </tr>
            </tbody>
        </table>
      </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

    <div id="search-field" class="govuk-form-group">

      <label class="govuk-heading-m" for="search">
        Search by court, tribunal or unit name
          <span class="govuk-hint">
            For example, Derby Crown
          </span>
      </label>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <input class="govuk-input" id="search_select" name="search_select" type="text" data-list="#proceedings-list" value="Search">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div id="proceedings-list" class="govuk-grid-column-full ">

        {% for proceeding in proceedings -%}
        <div class="govuk-grid-row proceeding-list" id="offence-item-{{loop.index}}" >

            <div class="govuk-grid-column-two-thirds">

                <ul class="proceeding-list">
                  <h3 class="govuk-body proceeding-item">{{proceeding.proceedingtype | capitalize}}</h3>
                  <li class="govuk-caption-m proceeding__list-item">{{proceeding.categoryoflaw| capitalize}}</li>
                  <li class="govuk-caption-m proceeding__list-item"> > {{proceeding.mattertype | capitalize}}</li>
                </ul>
            </div>

            <div class="govuk-grid-column-one-third" style="text-align:right; padding-top: 25px;">
                <a id="offence-item-button-{{loop.index}}" class="govuk-button" role="button" href="dm_details">
                    Select
                </a>
            </div>

        </div>
        {%- endfor %}

    </div>
</div>
</div>


<a class="govuk-button" href="om_courts" role="button">
  Continue
</a>

{% endblock %}
