
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "task_list"
  }) }}
{% endblock %}

{% block content %}
<form method="post" action="/task_list">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Tell us about the SOC activities you are responsible for
      </h1>

      <p>Your Operational Manager/ Deputy Justice Clerk has told us about the jurisdictions you are responsible for at <strong>Manchester Crown Square</strong>.</p>

    <p><strong>Check the boxes to tell us about the SOC activities you are responsible for checking.</strong></p>

      <div class="govuk-form-group">

            </legend>
            <span id="dm-soc-hint" class="govuk-hint">
               Select all that apply.
              <!--<a href="https://intranet.justice.gov.uk/about-hmcts/finance-and-governance/soc-standard-operating-controls-self-assessment/key-control-check-sheets/" target="_blank">View guidance on activities</a>. -->
            </span>
            <div class="multiple-choice--hod govuk-checkboxes" data-module="checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible1" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible1")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Agency staff
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible2" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible2")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  AML
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-1" name="ident-doc" type="checkbox" value="responsible3" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible3")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-1">
                  Appeal against grant of bail
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-2" name="ident-doc" type="checkbox" value="responsible4" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible4")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-2">
                  Application to vary bail
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-2" name="ident-doc" type="checkbox" value="responsible5" data-aria-controls="responsibility-conditional-1"{{checked("ident-doc", "responsible5")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-2">
                  Bail application to the Crown Court
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible6" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible6")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Business Continuity Plan
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-4" name="ident-doc" type="checkbox" value="responsible7" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible7")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-4">
                  Custody time limits
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-5" name="ident-doc" type="checkbox" value="responsible8" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible8")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-5">
                  Disposals (Crown Court)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible9" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible9")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Documents to PECS
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible10" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible10")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Financial stationary
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible11" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible11")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Fraud management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible12" data-aria-controls="responsibility-conditional-1">
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6" {{checked("ident-doc", "responsible12")}}>
                  Information security
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible13" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible13")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Interpreters ON contract
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible14" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible14")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Interpreters OFF contract
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible15" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible15")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Management of keys
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible16" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible16")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Payment requests via GBS
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible17" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible17")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Post opening
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible18" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible18")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Preparation Daily Banking
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible19" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible19")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Prisoner Escort and Custody Services (PECS) contract KCCS
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible20" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible20")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  Suspence and Suspence Defiency
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="responsibility-6" name="ident-doc" type="checkbox" value="responsible21" data-aria-controls="responsibility-conditional-1" {{checked("ident-doc", "responsible21")}}>
                <label class="govuk-label govuk-checkboxes__label" for="responsibility-conditional-6">
                  TFM contracts
                </label>
              </div>
              </div>
            </div>


<div class="block-space">
  <button class="govuk-button" type="submit">
    Save and continue
  </button>
</div>
</div>


</form>

<div class="govuk-grid-column-one-third">
 <aside class="app-related-items" role="complementary">
           <nav role="navigation" aria-labelledby="subsection-title">
             <ul class="govuk-list govuk-!-font-size-16">
               <li>
                 <span class="govuk-caption-m">Q3 2019</span>
               </li>
               <li>
                 <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
               </li>
               <li>
                 <a href="https://intranet.justice.gov.uk/about-hmcts/finance-and-governance/soc-standard-operating-controls-self-assessment/" target="_blank">Training material</a>
               </li>
               <li>
                 <a href="https://intranet.justice.gov.uk/about-hmcts/finance-and-governance/soc-standard-operating-controls-self-assessment/key-control-check-sheets/" target="_blank">Guidance on activities</a>
               </li>
             </ul>
           </nav>
         </aside>
       </div>
       </div>
{% endblock %}
