{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        My SOC tasks
      </h1>

      <p>Work through the steps below to complete the SOC report for the quarter. You can go back and change your answers at any time before submitting your report.</p>
      <div class="govuk-!-padding-bottom-1"></div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Confirm which SOC activities you are responsible for
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="soc_responsibilities" aria-describedby="eligibility-completed">
                Check SOC responsibilities
              </a>
              <strong class="govuk-tag-done app-task-list__task-completed" id="eligibility-completed">Done</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Report on key control checks and issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="checks_status" aria-describedby="company-information-completed">
                Key control checks
              </a>
              <strong class="govuk-tag-started app-task-list__task-completed" id="company-information-completed">Started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Issues
              </a>
              <strong class="govuk-tag-to-do app-task-list__task-completed" id="contact-details-completed">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Submit to your manager
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Check your answers and submit
              </a>
              <strong class="govuk-tag-do-last app-task-list__task-completed" id="company-information-completed">Do last</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>


         <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
                    <nav role="navigation" aria-labelledby="subsection-title">
                      <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                          <span class="govuk-caption-m">Q3 2019</span>
                        </li>
                        <li>
                          <h2 class="govuk-heading-s">Manchester - Crown Square</h2>
                        </li>
                      </ul>
                    </nav>
                  </aside>
                </div>
              </div>


{% endblock %}
